body {
    font-family: Arial;
}

.header, .footer {
    background: #1a94ff;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 180px;
}

.price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: gray;
}

.discount {
            color: red;
            font-weight: bold;
        }